{
  "presets": [
    "env",
    "react",
    "flow",
    "stage-0"
  ],
  "plugins": [
    "lodash",
    "syntax-dynamic-import",
    "transform-decorators-legacy",
    [ "import", { "libraryName": "antd", "style": true }, "antd" ],
    [ "import", { "libraryName": "frc-ui", "style": true }, "frc-ui" ],
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
