.app {
  background: #dddddd;
  font-size: 12px;
  height: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  &-header {
    background: #272727;
    &-github {
      position: absolute;
      top: 4px;
      right: 0;
    }
  }
  &-content {
    height: calc(~'100%' - 40px);
    margin-top: 40px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #393939;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 4px;
}

::-webkit-scrollbar-corner,
::-webkit-resizer {
  background: #202123;
}